body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

select {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}

#texto {
  margin-top: 40px;
}

#data-jogo {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 3px;
}
